:root{
    /* Varibles */
--TEXT-COLOR:#ffffff;
--MAIN-COLOR:green;
--LIGHT-GREEN:rgb(79, 241, 79);
--BLACK-COLOR:#000000;
--PADDING:0.5rem;
--PADDING-BTN:15px 20px;
--MARGIN:10px;
--BOX-SHADOW:5px 5px 10px rgba(79, 241, 79, 0.548);
--FONT-SIZE:clamp(1.75,3vh,2.25rem);
--LARGE-FONT-SIZE:3rem;
--BORDER-RADIUS:7px;
}
*{
/*  for all */
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--TEXT-COLOR);
}
body{
    background-color:var(--BLACK-COLOR);
    background-image: url(background-image.jpg);
    background-position-x:center;
    background-position-y:-100px,center;
    background-repeat: no-repeat;
    padding: var(--PADDING);
}
header{
    display:flex;
    justify-content:center;
    padding:var(--PADDING);
    flex-direction:column;
}
nav{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.navbar{display:none;}
.logo{
    color:var(--LIGHT-GREEN);
    font-size: var(--FONT-SIZE);
}
ul{
    display:flex;
    list-style: none;
    flex-direction: row;
    gap:10px;
}
a{
    text-decoration: none;
    color: var(--TEXT-COLOR);
    font-size: var(--FONT-SIZE);
    transition:all 0.7s cubic-bezier(0, 0, 0, 1.27);
}
a:hover{
    text-decoration:2px underline var(--MAIN-COLOR);
    color: var(--LIGHT-GREEN);
    padding-left:100px;
    padding-right:100px;
    padding-top:5px;
    padding-bottom:5px;
}
a:active{
    padding-left:var(--PADDING);
    padding-right:var(--PADDING);
    color:var(--TEXT-COLOR);
}
.Query{
    display: flex;
    flex-direction: row;
    width:15rem;
}
.Query h2{
    font-size:0.7rem;
    color:var(--BLACK-COLOR);
    background-color:var(--LIGHT-GREEN);
    padding: var(--PADDING);
    border-radius:var(--BORDER-RADIUS);
}
.Query input{
    font-size:0.7rem;
    color:var(--TEXT-COLOR);
    border-radius:5px;
    border:2px solid var(--LIGHT-GREEN);
    background: transparent;
    padding: var(--PADDING);
}
.Query input::placeholder{
    color: var(--MAIN-COLOR);
}
main{
    margin-top:5rem;
    display: flex;
    flex-direction: row;
    gap:10px;
}
article{
    flex-shrink:1;
    display: flex;
    flex-direction: column;
    margin-right:15rem;
    flex-grow:1;
}
article h1{
    color:var(--LIGHT-GREEN);
    font-size: var(--LARGE-FONT-SIZE);
    font-weight:700;
}
article h1 span{
   background-color: var(--LIGHT-GREEN);
   color: var(--BLACK-COLOR);
   border-radius:var(--BORDER-RADIUS);
   padding:var(--PADDING);
   margin-top: var(--MARGIN);
}
article p{
    padding: var(--PADDING);
    font-size:1.2rem;
    font-weight:400;
    margin-top:var(--MARGIN);
}
article button{
    padding: var(--PADDING-BTN);
    background-color: var(--LIGHT-GREEN);
    border: none;
    border-radius:var(--BORDER-RADIUS);
    max-width:10rem;
    font-weight:800;
    color:var(--BLACK-COLOR);
    transition: all 0.3s ease;
    margin: var(--MARGIN);
}
article button:hover{
    font-weight: 800;
    transform:scale(1.1);
}
article button:active{
    transform: scale(0.9);
    box-shadow: var(--BOX-SHADOW);
}
section{
    margin-top:2rem;
    display: flex;
    flex-direction: row;
    gap:2rem;
    margin-left:var(--MARGIN);
}
section div{
    background-color:var(--LIGHT-GREEN);
    padding: var(--PADDING);
    border-radius: var(--BORDER-RADIUS);
    transition: all 0.3s ease;
}
section div i{
    color: var(--BLACK-COLOR);
    font-weight: 900;
}
section div:hover{
    transform: scale(1.3);
}
section div:active{
    transform: scale(0.9);
    box-shadow:var(--BOX-SHADOW);
}
aside{
    flex-shrink:1;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    gap:40px;
    width:100vw;
    height:80vh;
    background-color:rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(172, 255, 47, 0.281);
    border-radius: var(--BORDER-RADIUS);
    justify-content:center;
    align-items: center;
    max-height:70vh;
}
aside h2{
    color:var(--TEXT-COLOR);
    background-color:var(--LIGHT-GREEN);
    width:100%;
    text-align: center;
    padding: var(--PADDING);
    border-radius: var(--BORDER-RADIUS);
    font-size:1.5rem;
    position: relative;
    bottom:23px;
}
aside form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    width:100%;
    padding: var(--PADDING);
}
aside form input{
    width:100%;
    padding: var(--PADDING);
    background-color: transparent;
    border: none;
    border-bottom:1px solid var(--LIGHT-GREEN);
    font-size:1.2rem;
}
aside form input::placeholder{
    color:#ccc;
}
aside form input:focus{
    outline:none;
    border-bottom:2px solid var(--LIGHT-GREEN);
}
aside button{
    padding: var(--PADDING-BTN);
    color: var(--BLACK-COLOR);
    font-weight: 700;
    border-radius: var(--BORDER-RADIUS);
    background-color: var(--LIGHT-GREEN);
    width:90%;
    border:none;      
    transition: all 0.3s ease;
}
aside button:hover{
    transform: scale(1.08);
}
aside button:active{
    transform: scale(0.9);
    box-shadow: var(--BOX-SHADOW);
}
/* Responsive Design for mobile */ 
@media(max-width:768px){
   body{
        padding: var(--PADDING);
        background-image:url(Lambo-mobile-background.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

   }
    nav{
        display:none;
    }
    .Query{
        display:none;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    article{
        display:none;
    }
    aside{
        width:90%;
        height:auto;
        max-height:none;
        backdrop-filter: blur(1.7px);
    }
    aside h2{
        font-size:1.2rem;
        bottom:10px;
        width:100%;
        border-radius:8px;
    }
}
/* Responsive Design for tablets */
@media(max-width:1024px) and (min-width:769px){
    body{
        background-image:url(Lambo-mobile-background.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }
    nav{
        display:none;
    }
    .Query{
        display:none;
    }
    article{
        display:none;
    }
    aside{
        width:80%;
        max-height:70vh;
        max-height:none;
        backdrop-filter: blur(1.7px);
    }
}